VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_PUBLIC_SITE_URL=https://www.mgenetica.com/
VITE_APP_BASE=/
VITE_APPWRITE_FUNCTION_COURSES_ID=
VITE_APPWRITE_FUNCTION_QUIZZES_ID=
VITE_APPWRITE_FUNCTION_PROGRESS_ID=
VITE_APPWRITE_FUNCTION_AUTH_ID=
VITE_APPWRITE_FUNCTION_ADMIN_ID=
