VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a0b2fc1001c380eeb26
VITE_PUBLIC_SITE_URL=https://mgenetica.github.io/mgenetica/
VITE_APP_BASE=/mgenetica/
VITE_ADMIN_EMAILS=
VITE_APPWRITE_FUNCTION_COURSES_ID=
VITE_APPWRITE_FUNCTION_QUIZZES_ID=
VITE_APPWRITE_FUNCTION_PROGRESS_ID=
VITE_APPWRITE_FUNCTION_AUTH_ID=
VITE_APPWRITE_FUNCTION_ADMIN_ID=
